.jumbotron{
	background-color: #000;
	color: #fff;
}

.col-sm-4{
	margin-bottom: 1em;
}

footer{
	position: absolute;
	width: 100%;
	bottom: 0;
	background-color: #333;
	color: #fff;
}

footer a{
	color: #fff;
	font-weight: bold;
}